body {
    background-image: linear-gradient(180deg, rgba(0, 170, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);
    height: 100vh;
}

.cardone1 {
  background-color: white;
  opacity: 80%;
  border-radius: 12px;
  padding: 15px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

.logolaurenz {
  width: 55%;
}

.headercardone {
  justify-items: center;
  text-align: center;
}

.cardone1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  
}

.containercardcalon {
  padding:200px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.formsNISN {
    justify-items: center   ;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

input {
  border-radius: 4px;
  border-color: blue;
  font-size: 16px;
  padding: 10px;
  width: 240px;
}

button {
  justify-self: center;
  color: white;
  display: block;
  margin: 20px;
  width: 260px;
  height: 40px;
  background-color: rgb(0, 94, 255);
}

body {
    cursor: url('TigerCursor.png'), auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}